.container{
    display: flex;
    justify-content: center;
    gap:25px;
}
.card{
    width: 16rem;
    height: 460px;
    border-radius: 12px;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    margin: 20px;
    background-color: lavender;
}
.card img{
    width: 260px;
    height: 260px;
    display: block;
    background-color:lavender;
}
.card:hover{
    background-color: rgb(208, 204, 226)
}        
.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;  
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #ce0808;
    text-decoration: none;
}
.iklan {
    width: 30rem;
    border-radius: 12px;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    margin: 20px;
}
.iklan img{
    width: 480px;
    height: 250px;
    display: block;
}
.category {
    width: 10rem;
    height: 150px;
    border-radius: 100%;
    margin-right: 10px;
}
.category img{
    width: 50%;
    height: 50%;
    border-radius: 100%;
}