.container{
    display: flex;
    justify-content:center;
    gap:25px;
}
.card{
    width: 16rem;
    height: 360px;
    border-radius: 12px;
    box-shadow:0 1px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    margin: 20px;
    background-color: gray
}
.card img{
    width: 300px;
    height: 200px;
    display: block;
    background-color:rgba(25, 20, 30);
}        
.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;  
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #ce0808;
            text-decoration: none;
          }